*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100vw;
    background-color: rgb(238, 165, 202);
    height: 150vh;
    flex-direction: column;

}

.box{
    flex:1;
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(235, 233, 255);
    border-radius: 20px;

    align-content: center;
    text-align: center;
}

.circle{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 60px;
    background-color: rgb(255, 255, 255);
    left: 45%;
}
.rect{
    background-color: rgb(0, 0, 0);
    position: absolute;
    height:20px;
    width: 100px;
    left: 45%;
}
.halfCircle{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    left: 46.5%;
    bottom: -29.5%;
    border-radius: 200px 200px 0px 0px;
}
.Wrect{
    background-color: aliceblue;
    position: absolute;
    height:10px;
    width: 75px;
    left: 46.5%;
}
.Rcircle{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 60px;
    background-color: rgb(224, 15, 15);
    left: 45%;
}