*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 98vw;
    background-color: rgb(238, 165, 202);
    height: 250vh;
    flex-direction: column;

}

.box{
    flex:1;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(235, 233, 255);
    border-radius: 20px;

    align-content: center;
    text-align: center;
}

.bird{
    padding: 50px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: relative;
    left:35%;
    background-color: #ffeeb6;
    transition: width 2s ;
}
.bird:hover{
    width: 50%;
    height: 20%;
}

.beak{
    width: 2px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid #c72121;
    transition: border-top 2s;
}
.topHrt{
    width: 70px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 200px;
    top:9%;
    transition: width 2s height 2s;
}
.pupils{
    width:20px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    position: fixed;
    top:40px;
    transition: width 2s;
}
.leftHrt{
    position: absolute;
    left: 15%;
}
.rightHrt{
    position: absolute;
    right: 15%;
}
.centerHrt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
.strand1{
    background-color: #ffeeb6;
    width: 20px;
    height:60px;
    position: absolute;
    bottom: 85%;
    left: 45%;
    border-radius: 20px;
}
.strand2{
    background-color: #ffeeb6;
    width: 10px;
    height:30px;
    position: absolute;
    bottom: 95%;
    left: 56%;
    border-radius: 20px;
}
div.bird:hover > .beak{
    border-top: 40px solid #c72121;
}
div.bird:hover > .topHrt{
    width:25%;
    height:60%;
}
div.bird:hover > .pupils{
    width: 15%;
}
#head{
    padding: 0px;
    width: 300px;
    position: absolute;
    left:45%;
}
.head{
    position: absolute;
    height: 105px;
    width: 100px;
    border-radius: 60px;
    background-color: rgb(255, 255, 255);
    left: 21.2%;
}

.rect{
    background-color: rgb(0, 0, 0);
    position: absolute;
    height:20px;
    width: 100px;
    left: 20.5%;
}
.halfCircle{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 200px 200px 0px 0px;
    top:20%;
    left:25%;
}
.Wrect{
    background-color: aliceblue;
    position: absolute;
    height:10px;
    width: 75px;
    left:25%;
}
.Rcircle{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 60px;
    background-color: rgb(224, 15, 15);
    left: 24%;
}
.eyes{
    height: 30px;
    width: 25px;
    border-radius: 60px;
    background-color: rgb(0, 0, 0);
}
.left{
    position: absolute;
    left: 26%;
    bottom:-50%;

}
.right{
    position: absolute;
    right: 50%;
    bottom: -50%;
}

.nose{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(0, 0, 0);
    left: 35%;
    bottom: -150%;
}
.mouth{
    width: 35px;
    height: 10px;
    border-bottom: 4px solid black;
    border-radius:10px 0px 10px 10px ;
    position: absolute;
    left: 32.5%;
    bottom: -200%;

}
.neck{
    background-color: rgb(255, 255, 255);
    position: absolute;
    height:15px;
    width: 10px;
    left: 37%;
    bottom:-300%;
}