*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100vw;
    background-color: rgb(238, 165, 202);
    height: 150vh;
    flex-direction: column;

}

.box{
    flex:1;
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(235, 233, 255);
    border-radius: 20px;

    align-content: center;
    text-align: center;
}

.bird{
    padding: 50px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: absolute;
    left:40%;
    background-color: #ffeeb6;
    transition: width 2s ;
}
.bird:hover{
    width: 50%;
    height: 20%;
}

.bottomHrt{
    width: 2px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid #c72121;
    position: absolute;
    left: 25%;
    right: 35%;
}
.topHrt{
    width: 70px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 200px;
    top:9%;
}
.pupils{
    width:20px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    position: fixed;
    top:40px;
}
.leftHrt{
    position: absolute;
    left: 15%;
}
.rightHrt{
    position: absolute;
    right: 15%;
}

#head{
    padding: 50px;
    width: 300px;
    position: absolute;
    left:45%;
}
.head{
    position: absolute;
    height: 105px;
    width: 100px;
    border-radius: 60px;
    background-color: rgb(255, 255, 255);
    left: 21.2%;
}

.rect{
    background-color: rgb(0, 0, 0);
    position: absolute;
    height:20px;
    width: 100px;
    left: 20.5%;
}
.halfCircle{
    position: absolute;
    width: 75px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 200px 200px 0px 0px;
    top:20%;
    left:25%;
}
.Wrect{
    background-color: aliceblue;
    position: absolute;
    height:10px;
    width: 75px;
    left:25%;
}
.Rcircle{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 60px;
    background-color: rgb(224, 15, 15);
    left: 24%;
}
.eyes{
    height: 30px;
    width: 25px;
    border-radius: 60px;
    background-color: rgb(0, 0, 0);
}
.left{
    position: absolute;
    left: 26%;
    bottom:-5%;
}
.right{
    position: absolute;
    right: 50%;
    bottom: -5%;
}

.nose{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(0, 0, 0);
    left: 35%;
    bottom: -18%;
}
.mouth{
    width: 35px;
    height: 10px;
    border-bottom: 4px solid black;
    border-radius:10px 0px 10px 10px ;
    position: absolute;
    left: 32.5%;
    bottom: -32%;

}
.neck{
    background-color: rgb(255, 255, 255);
    position: absolute;
    height:15px;
    width: 10px;
    left: 37%;
    top:150%;
}